KAFKA_BOOTSTRAP_SERVERS=course-kafka:9092
SENSORS_TOPIC=sensors-sample
ENRICHED_TOPIC=samples-enriched
ALERT_TOPIC=alert-data

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
S3_BUCKET=spark

S3_MODELS_PATH=s3a://spark/data/dims/car_models
S3_COLORS_PATH=s3a://spark/data/dims/car_colors
S3_CARS_PATH=s3a://spark/data/dims/cars
CHECKPOINT_BASE=s3a://spark/data/checkpoints/spark_kafka_summary

SPARK_KAFKA_PACKAGE=org.apache.spark:spark-sql-kafka-0-10_2.12:3.4.0
SPARK_MASTER=local[1]
SPARK_DRIVER_MEMORY=512m
SPARK_LOG_LEVEL=WARN
ALERT_WINDOW=15 minutes
ALERT_SLIDE=1 minute
